# Proyecto 2

**Tema:** Predicción de enfermedades Cardíacas - 2



|     Nombres      |      Apellidos       |     Login     |  Codigo   |
| :--------------: | :------------------: | :-----------: | :-------: |
|     Santiago     | Gonzalez Montealegre | s.gonzalez35  | 202012274 |
| Juliana Carolina |  Cardenas Barragan   | jc.cardenasb1 | 202011683 |

## Librerías Requeridas

In [1]:
import pandas as pd

## Carga de Datos

In [2]:
df = pd.read_csv('../Data/Transformed/Cleveland_Clean.csv')

## Discretización

In [3]:
# ------------
# Discretizacion
# ------------

#  Age

df['ageNum'] = df['age']

q1 = df['ageNum'].describe()['25%']
q2 = df['ageNum'].describe()['50%']
q3 = df['ageNum'].describe()['75%']

df.loc[df['ageNum'] < q1, 'age'] = 1
df.loc[(q1 <= df['ageNum']) & (df['ageNum'] < q2), 'age'] = 2
df.loc[(q2 <= df['ageNum']) & (df['ageNum'] < q3), 'age'] = 3
df.loc[(q3 <= df['ageNum']) & (df['ageNum'] < 80), 'age'] = 4

# Trestbps

df['trestbpsNum'] = df['trestbps']

mean = df['trestbps'].mean()

df.loc[df['trestbpsNum'] < mean, 'trestbps'] = 1
df.loc[(mean <= df['trestbpsNum']) & (df['trestbpsNum'] < 100000), 'trestbps'] = 2

# Chol

df['cholNum'] = df['chol']

mean = df['chol'].mean()

df.loc[df['cholNum'] < mean, 'chol'] = 1
df.loc[(mean <= df['cholNum']) & (df['cholNum'] < 100000), 'chol'] = 2

# Thalach

df['thalachNum'] = df['thalach']

q1 = df['thalachNum'].describe()['50%']

df.loc[df['thalachNum'] < q1, 'thalach'] = 1
df.loc[(q1 <= df['thalachNum']) & (df['thalachNum'] < 100000), 'thalach'] = 2

# Oldpeak

df['oldpeakNum'] = df['oldpeak']

df.loc[df['oldpeakNum'] < 0.5, 'oldpeak'] = 1
df.loc[(0.5 <= df['oldpeakNum']) & (df['oldpeakNum'] < 1), 'oldpeak'] = 2
df.loc[(1 <= df['oldpeakNum']) & (df['oldpeakNum'] < 1.5), 'oldpeak'] = 3
df.loc[(1.5 <= df['oldpeakNum']) & (df['oldpeakNum'] < 2), 'oldpeak'] = 4
df.loc[(2 <= df['oldpeakNum']) & (df['oldpeakNum'] < 10), 'oldpeak'] = 5

df.oldpeak = df.oldpeak.astype(int)

# ------------
# Drop columns
# ------------
df.drop(['ageNum', 'trestbpsNum', 'cholNum', 'thalachNum', 'oldpeakNum'], axis=1, inplace=True)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdis
0,4,1,1,2,1,1,2,1,0,5,3,0,6,0
1,4,1,4,2,2,0,2,1,1,4,2,3,3,1
2,4,1,4,1,1,0,2,1,1,5,2,2,7,1
3,1,1,3,1,2,0,0,2,0,5,3,0,3,0
4,1,0,2,1,1,0,2,2,0,3,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,1,1,1,1,2,0,0,1,0,3,2,0,7,1
299,4,1,4,2,1,1,0,1,0,5,2,2,7,1
300,3,1,4,1,1,0,0,1,1,3,2,1,7,1
301,3,0,2,1,1,0,2,2,0,1,2,1,3,1
302,1,1,3,2,1,0,0,2,0,1,1,0,3,0

## Guardar Datos Limpios

In [4]:
df.to_csv('../Data/Transformed/Discrete.csv', index=False)